/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
body {
    background-color: #F9F8F6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3%;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 100%;
    max-width: 400px;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 2%;
    background-color: #C9B59C;
    padding: 1.5%;
    border-radius: 10px;
    -webkit-box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
    box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
}
.nav-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #EFE9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #8D7454;
    -webkit-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
.nav-btn:hover {
    transition: all 0.3s ease;
    transform: translateY(-2px);    
    background-color: #D9CFC7;
    color: #F9F8F6;
}