/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
body {
    background-color: #F9F8F6;
    position: relative;
}
/*Managing Section*/
/*Content And Context*/
.main-container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7vh;
}
/*Logo Placement*/
.logo-placement {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}
    /*Managing Text Section*/
    .logo {
        font-weight: 800;
        margin-top: 10px;
        align-items: center;
        color: #8D7454;
        cursor: pointer;
    }
    .logo-img {
        margin-right: 5px;
        margin-left: 15px;
        margin-top: 15px;
        width: 60px;
        height: 60px;
        align-items: center;
    }
/*Navigation Placement*/
.navigation-placement {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: auto;
    position: fixed;
    flex-direction: column;
    z-index: 100;
}
    /*Navbar Customization*/
    .app-navbar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #C9B59C;
        border-radius: 10px;
        -webkit-box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
        box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 0.3);
        padding: 0.1%; 
    }
    .nav-btn {
        margin: 5px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: #EFE9E3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: #8D7454;
        -webkit-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
        box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    }
    .nav-btn:hover {
        transition: all 0.3s ease;
        transform: translateY(-2px);    
        background-color: #D9CFC7;
        color: #F9F8F6;
    }
    .nav-btn:active {
        background-color: #49454F;
    }
/*Search Element*/
.search {
    background-color: #EFE9E3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 7px;
    -webkit-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
    .search-input {
        background-color: #EFE9E3;
        border: none;
        color: #49454F;
        width: 190px;
        transition: all 0.3s ease;
    }
    .search-icon {
        cursor: pointer;
        width: 48px;
        height: 48px;
        transition: all 0.3s ease;
    }
    .search-icon:hover {
        background-color: #D9CFC7;
        padding: 8px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .search-icon:active {
        background-color: #C9B59C;
    }
